@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#03001e, #7303c0, #ec38bc, #fdeff9 );
    height: 100vh;
    color: #fdeff9;
    overflow-y: hidden;
}

.container {
    background-color: #ec38bc;
    width: 40%;
    padding: 1rem;
    margin: auto;
    margin-top: 5%;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

.btn {
    padding: 0.5rem;
    background-color: #7303c0;
    color: #fdeff9;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

h4 {
    color: #03001e;
}

.container input {
    padding: 0.5rem;
    width: 70%;
    margin: 5px 0;
    border-radius: 5px;
    border: #7303c0 2px solid;
}

.container input[type=checkbox] {
    width: auto;
}

.container a {
    color: #7303c0;
    text-decoration: none;
}